span {
    word-wrap: break-word;
  }
  
  .header-coupons {
    background-color: #edf9ff;
    padding: 2em;
    border-radius: 30px;
  }
  .header-coupons h1 {
    margin: 0;
    color: #2c72c7;
  }
  .header-coupons p {
    color: #052c5c;
    margin-top: 1em;
  }
  .header-coupons img {
    object-fit: cover;
    width: auto;
    height: 115px;
  }
  
  .header-coupons-right {
    text-align: center;
  }
  
  @media only screen and (max-width: 768px) {
    .header-coupons-right {
      display: none;
    }
  }
  [data-id=slct-schools] {
    background-color: #2c72c7 !important;
    color: #fff !important;
    border: 1px solid #2c72c7 !important;
  }
  
  [data-id=slct-schools]:active {
    background-color: #2c72c7 !important;
    color: #000 !important;
  }
  
  [data-id=slct-schools]:hover {
    background-color: #2c72c7 !important;
    color: #fff !important;
  }
  
  [data-id=slct-schools]:focus {
    background-color: #2c72c7 !important;
    color: #fff !important;
  }
  
  .customGreyInput {
    border: 1px solid #ccc;
  }
  
  .btn-100 {
    background-color: #000;
    color: #fff;
    border: 0;
    width: 100%;
    border-radius: 30px;
    font-weight: 500;
    padding: 0.6em 2em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  }
  
  .btn-100 i {
    vertical-align: top;
    font-size: 20px;
  }
  
  .btn-sky-blue {
    background-color: #5ac8fa;
    color: #fff;
  }
  
  .btn-white {
    background-color: #fff;
    border: 1px solid #5ac8fa;
    color: #5ac8fa;
  }
  
  .m0 {
    margin: 0;
  }
  
  .header-btn-container {
    background: #f2f2f7;
    border-radius: 30px;
    padding: 1em 0em;
  }
  
  .header-btn {
    color: #5ac8fa;
    transition: 0.2s;
    background: #fff;
  }
  
  .header-btn:hover {
    background-color: #5ac8fa;
    color: #fff;
  }
  
  .header-btn-active {
    background-color: #5ac8fa;
    color: #fff;
  }
  
  .btn-add-color {
    background-color: #69bf6b;
  }
  
  /* Cupones */
  .coupon-info-container {
    padding: 2em;
    background: #fff;
    border-radius: 25px;
    box-shadow: -1px 1px 18px 0px rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: -1px 1px 18px 0px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: -1px 1px 18px 0px rgba(0, 0, 0, 0.14);
  }
  
  .coupon-info-left img {
    width: 100%;
  }
  
  .coupon-info-right h1 {
    margin: 0;
    color: #2c72c7;
    font-size: 32px;
  }
  .coupon-info-right h2 {
    margin-top: 0.5em;
    color: #1d5772;
    font-size: 22px;
  }
  .coupon-info-right p {
    color: #828181;
    margin-top: 1em;
    font-size: 17px;
  }
  
  .coupon-info-border {
    border: 1px solid #2c72c7;
    border-radius: 30px;
    padding: 2em;
  }
  .coupon-info-border .conditions span {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    color: #2c72c7;
  }
  
  .coupon-sky-container {
    border: 1px solid #5ac8fa !important;
  }
  
  .coupon-qr-container {
    text-align: center;
    background: #336fbd;
    border-radius: 25px;
    padding: 2em;
    color: #fff;
    padding-top: 0;
  }
  .coupon-qr-container img {
    width: 75%;
    background-color: #fff;
    border-radius: 0 0 30px 30px;
  }
  .coupon-qr-container span {
    display: block;
    font-size: 17px;
  }
  
  .coupon-f1 {
    font-weight: 500;
    margin-top: 1em;
  }
  
  .coupon-qr-btns {
    margin-top: 1em;
    text-align: right;
  }
  .coupon-qr-btns button {
    display: inline-block;
    background-color: #fff;
    box-shadow: -1px 1px 18px 0px rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: -1px 1px 18px 0px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: -1px 1px 18px 0px rgba(0, 0, 0, 0.14);
    border: 0;
    transition: 0.2s;
    border-radius: 30px;
    padding: 0.5em;
    margin-left: 1em;
  }
  .coupon-qr-btns button:hover {
    opacity: 0.7;
  }
  .coupon-qr-btns i {
    font-size: 22px;
    vertical-align: middle;
  }
  .coupon-qr-btns .btn-qr-delete {
    color: #ff3b30;
  }
  .coupon-qr-btns .btn-qr-edit {
    color: #336fbd;
  }
  
  /* Modal */
  .stylish-option-modal {
    padding: 1em;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 30px !important;
    background-color: #fff;
  }
  .stylish-option-modal h3 {
    color: #336fbd;
    margin: 0;
    font-size: 27px;
  }
  .stylish-option-modal .close {
    opacity: 1;
  }
  .stylish-option-modal .close i {
    background-color: #f2f2f2;
    color: #828080;
    padding: 5px;
    transition: 0.2s;
    border-radius: 30px;
    font-size: 18px;
    vertical-align: middle;
  }
  .stylish-option-modal .close i:hover {
    opacity: 0.7;
  }
  .stylish-option-modal ::placeholder {
    color: #b8bec7;
  }
  .stylish-option-modal .dropdown-toggle {
    color: #336fbd;
  }
  .stylish-option-modal .modal-body {
    margin-top: 0;
  }
  .stylish-option-modal .modal-body label {
    font-weight: 500;
  }
  .stylish-option-modal .modal-body input {
    margin-bottom: 1em;
    color: #336fbd;
  }
  .stylish-option-modal .btn-100 {
    padding: 6px;
  }
  .stylish-option-modal .btn-100 i {
    vertical-align: text-bottom;
  }
  .stylish-option-modal .btn-descubro-upload-cover,
  .stylish-option-modal .btn-provider-upload-cover,
  .stylish-option-modal .btn-eschool-upload-cover {
    margin-top: 0.5em;
  }
  .stylish-option-modal .btn-text-cancel {
    background-color: #fff;
    color: #ff3b30;
    box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.1);
  }
  .stylish-option-modal .btn-text-save {
    background-color: #fff;
    color: #34c759;
    box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.1);
  }
  .stylish-option-modal .fake-input {
    background: #336fbd;
    color: #fff;
    display: block;
    border-radius: 30px;
    padding: 7px 1em;
  }
  .stylish-option-modal .fake-input span {
    vertical-align: sub;
    display: inline-block;
    margin-left: 5px;
    width: calc(100% - 35px);
  }
  .stylish-option-modal .fake-input i {
    font-size: 24px;
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
  }
  .stylish-option-modal textarea {
    border-radius: 18px;
  }
  
  .sky-table thead th {
    background: #edf9ff;
    color: #336fbd;
    font-weight: 500;
  }
  .sky-table thead th:first-child {
    border-radius: 30px 0 0 0;
  }
  .sky-table thead th:last-child {
    text-align: right;
    border-radius: 0 30px 0 0;
  }
  .sky-table tbody tr td,
  .sky-table thead tr th,
  .sky-table tfoot tr th {
    color: #336fbd;
    padding: 12px 0 0 12px !important;
    padding-bottom: 4px !important;
  }
  
  .container-students-table tr td:last-child {
    text-align: right;
  }
  
  .switch-col-lgreen span {
    display: inline-block;
    color: #336fbd;
  }
  .switch-col-lgreen .switch {
    display: inline-block;
  }
  .switch-col-lgreen .switch label input[type=checkbox]:checked + .lever:after {
    background-color: #fff;
    box-shadow: -1px 3px 4px rgba(0, 0, 0, 0.06);
    height: 22px;
    top: 1px;
    width: 22px;
    border: 2px solid #34c759;
    left: 18px;
  }
  .switch-col-lgreen .switch label input[type=checkbox]:checked + .lever {
    background-color: #34c759;
    padding: 12px;
  }
  .switch-col-lgreen .switch label .lever:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 22px;
    border: 2px solid #c7c7cc;
    height: 22px;
    background-color: #ffffff;
    border-radius: 24px;
    box-shadow: -3px 1px 4px rgba(0, 0, 0, 0.06);
    left: 0px;
    top: 1px;
    transition: left 0.3s ease, background 0.3s ease, box-shadow 0.1s ease;
  }
  .switch-col-lgreen .switch label .lever {
    content: "";
    display: inline-block;
    position: relative;
    width: 40px;
    padding: 12px;
    height: 15px;
    background-color: #c7c7cc;
    border-radius: 15px;
    margin-right: 10px;
    transition: background 0.3s ease;
    vertical-align: middle;
    margin: 0 16px;
  }
  
  .tag_m_grade {
    display: inline-block;
    background: #e5f0ff;
    border-radius: 14px;
    cursor: pointer;
    font-size: 13px;
    color: #336fbd;
    padding: 0.5em 1.5em;
    border: 0;
    transition: 0.2s;
  }
  .tag_m_grade i {
    font-size: 16px;
    margin-left: 8px;
    vertical-align: sub;
  }
  
  .tag_m_grade:hover {
    opacity: 0.8;
  }
  
  #container_books_tags {
    margin: 1em 0;
  }
  
  .mtb-2 {
    margin-top: 2em;
    margin-bottom: 1em;
  }
  
  .coupon-info-right li {
    color: #2796c9;
    font-size: 16px;
    font-weight: 500;
  }
  
  .qr-space img {
    display: inline-block !important;
    padding: 1em;
    border-radius: 0 0 16px 16px;
  }
  
  .h3-title {
    color: #0071cd;
    font-weight: 500;
  }
  .h3-title i {
    vertical-align: top;
  }
  
  .nav-tabs {
    font-weight: 500;
    cursor: pointer;
  }
  .nav-tabs li.active a {
    font-weight: 500;
    color: #0071cd !important;
  }
  
  .std-coupon-select {
    display: inline-block;
    background: #e5f0ff;
    border-radius: 14px;
    cursor: pointer;
    font-size: 15px;
    color: #336fbd;
    font-weight: 500;
    margin: 0 1em;
    width: 100%;
    margin-bottom: 1em;
    padding: 0.5em 1.5em;
    border: 0;
    transition: 0.2s;
    border: 2px solid transparent;
  }
  .std-coupon-select i {
    font-size: 16px;
    margin-right: 8px;
    vertical-align: middle;
  }
  
  .std-coupon-select-active {
    border: 2px solid #336fbd73;
  }
  
  .std-coupon-select:hover {
    opacity: 0.8;
    border: 2px solid #336fbd;
  }
  
  .empty-coupons {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    padding: 2em;
    color: #b7b7b7;
    text-align: center;
  }
  .empty-coupons svg {
    width: 50px;
    opacity: 0.4;
    filter: grayscale(100%);
    text-align: center;
    height: 50px;
  }
  .empty-coupons span {
    display: block;
  }
  
  .tab-coupons li,
  .tab-coupons-descubro li {
    cursor: pointer;
    user-select: none;
  }
  
  .highlight-description {
    margin-bottom: 1em;
    font-weight: 500;
    display: block;
    color: #787878;
  }
  
  .pagination-coupons {
    margin-top: 0;
    margin-bottom: 2em;
    text-align: center;
  }
  .pagination-coupons li {
    display: inline-block;
  }
  .pagination-coupons .btn-pagination {
    background-color: #e5f0ff;
    border: 0;
    font-size: 16px;
    color: #336fbd;
    font-weight: 500;
    padding: 0.3em 1em;
    margin: 0 0.5em;
  }
  .pagination-coupons .back-pagination {
    border-radius: 8px;
  }
  .pagination-coupons .next-pagination {
    border-radius: 8px;
  }
  .pagination-coupons .btn:not(.btn-link):not(.btn-circle) {
    border: 0;
    background-color: #e5f0ff !important;
    border-radius: 30px;
    color: #336fbd;
  }
  
  .select-pagination .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100px;
  }
  .select-pagination .bootstrap-select.btn-group .dropdown-toggle .filter-option {
    text-align: center;
    margin-left: 5px;
  }
  .select-pagination .bootstrap-select.btn-group .dropdown-menu li a {
    font-size: 13px;
    margin-top: -5px;
    width: 102px;
    text-align: center;
  }
  .select-pagination .dropdown-menu {
    margin-top: -33px !important;
    margin-left: -0.5px;
  }
  
  .coupon-skyblue {
    background-color: #5ac8fa;
  }
  .coupon-skyblue h2 {
    font-size: 3.2em;
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: bold;
  }
  .coupon-skyblue h3 {
    font-size: 2.5em;
    margin: 0;
    font-weight: bold;
  }
  .coupon-skyblue .sh3 {
    font-size: 1.5em;
  }
  .coupon-skyblue .br-space img {
    display: inline-block !important;
    padding: 0.5em !important;
    border-radius: 0 0 16px 16px;
    width: 100%;
    background-color: #fff;
  }
  
  .table {
    border-radius: 30px;
  }
  
  .table thead tr th {
    padding: 15px 15px !important;
    background-color: #edf9ff;
  }
  
  .table th {
    font-weight: 500;
    color: #336fbd;
  }
  
  .table thead tr th:first-child {
    border-radius: 25px 0 0 0;
  }
  
  .table thead tr th:last-child {
    border-radius: 0 25px 0 0;
  }
  
  .report_section_table {
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  }
  
  .table tbody tr td,
  .table tbody tr th {
    border: 0;
    padding-left: 1em !important;
    vertical-align: middle;
    color: #828181;
  }
  
  .report_section_table tr {
    background-color: #fff;
    border: 0;
    border-color: transparent;
  }
  
  .report_section_table tr:nth-child(2n+1) {
    background-color: #fff;
    border: 0;
  }
  
  div.dataTables_wrapper div.dataTables_filter label {
    color: #336fbd;
    font-weight: 500;
  }
  
  .report_section_btn_icons {
    font-size: 20px;
    background: #fff;
    padding: 8px;
    cursor: pointer;
    border-radius: 18px;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.05);
    margin-right: 0.5em;
    color: #5ac8fa;
  }
  
  .btn_icons_status_edit {
    color: #ff7801;
  }
  
  .btn_icons_status_active {
    color: #4caf50;
  }
  
  .btn_icons_status_inactive {
    color: #777;
  }
  
  .btn_icons_status_delete {
    color: #e91e63;
  }
  
  tbody tr:last-child td {
    border-radius: 30px;
  }
  
  #customSearchInput {
    display: inline-block;
    border: 1px solid #5ac8fa;
    border-radius: 30px;
    height: 37px;
    font-size: 13px;
  }
  
  #customSearchInput:disabled {
    color: #8e8e93;
  }
  
  .header-db-col {
    background-color: #EDF9FF;
    border-radius: 25px;
    padding: 1em 2em;
  }
  .header-db-col h3 {
    color: #336FBD;
    font-weight: 500;
    margin: 0;
    font-size: 21px;
    width: calc(100% - 90px);
    display: inline-block;
  }
  .header-db-col span {
    color: #336FBD;
    font-weight: bold;
    text-align: right;
    font-size: 24px;
    width: 85px;
    display: inline-block;
  }
  
  .coupons-v-div {
    padding: 0 1em;
    border-radius: 16px;
    background-color: #FFF;
    margin-top: 1em;
    border: 1px solid #e8e8ec;
  }
  .coupons-v-div div {
    box-shadow: -1px 1px 18px 0px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    margin: 1em 0;
  }
  .coupons-v-div span {
    color: #336FBD;
    font-weight: bold;
    background-color: #FFF;
    padding: 1em 0.5em;
    font-size: 16px;
    border-radius: 18px 18px 0 0;
    width: 100%;
    display: inline-block;
  }
  .coupons-v-div button {
    width: 100%;
    background: #5AC8FA;
    padding: 0.5em 0.5em;
    border: 0;
    border-radius: 0 0 18px 18px;
    font-size: 16px;
    font-weight: 500;
    transition: 0.15s;
    color: #FFF;
  }
  .coupons-v-div button:hover {
    opacity: 0.8;
  }
  
  .coupon-sm {
    font-size: 17px;
  }
  .coupon-sm .coupon-sm-title {
    margin: 0;
    margin-bottom: 0.5em;
    color: #3aaee3;
    font-size: 24px;
  }
  .coupon-sm .coupon-sm-item {
    margin: 0;
    margin-bottom: 0.5em;
    color: #1d5772;
    font-size: 18px;
  }
  .coupon-sm .coupon-sm-hl {
    font-weight: bold;
    color: #5e5e5e;
  }
  
  .coupon-sm-img {
    width: 100%;
  }
  
  .section-head-title {
    color: #336FBD;
    font-size: 26px;
  }
  
  .modal {
    overflow: auto !important;
  }
  
  .ph0 {
    padding-left: 0;
    padding-right: 0;
  }
  
  @media only screen and (min-width: 992px) {
    .pl0 {
      padding-left: 0;
    }
  }
  @media only screen and (max-width: 992px) {
    .md-t-1 {
      margin-top: 1em;
    }
  }
  
  .btn-pay:disabled{
    opacity: 0.5;
  }
  /*# sourceMappingURL=coupons.css.map */
  