.cont-bubble {
    background   : #FFFFFF;
    box-shadow   : 0px 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding      : 16px;
    border       : 1px solid #e9e9e9;

    h1{
        color: $primary-blue;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        display: block;
    }

    h2 {
        color      : $primary-blue;
        font-size  : 18px;
        font-weight: bold;
        display    : block;
    }

    .form-controls {
        margin: 0.5em 0;
    }

    .container-group {
        margin: 1em 0;
    }

    .form-section {
        color      : $disabled-text;
        font-weight: 500;
    }

    .custom-bubble-input {
        display      : inline-block;
        border       : 1px solid #5AC8FA;
        border-radius: 30px;
        height       : 37px;
        font-size    : 13px;
    }
}

.switch-container{
    padding: 16px;
}

.switch-payment {
    background : #F2F2F7;
    padding    : 1em;
    text-align : center;
    font-weight: 500;
    color      : #828181;
    cursor     : pointer;

    span {
        display: block;
    }

    i {
        color      : #828181;
        font-weight: 500;
        display    : block;
    }
}

.switch-payment-active {
    background: #5AC8FA;
    color     : #FFF;

    i {
        color: #FFF;
    }
}

.swp-l {
    border-radius: 30px 0 0 30px;
}

.swp-r {
    border-radius: 0 30px 30px 0;
}

.types_cards_container {
    text-align: right;
    margin-top: 0.5em;

    img {
        margin-left: 0.5em;
        width      : 45px;
        height     : auto;
    }
}

.container-continue {
    margin: 1em 0;
    button {
        background   : #336FBD;
        box-shadow   : 0px 4px 16px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        color        : #FFF;
        padding      : 1em;
        width        : 100%;
        border       : 0;
        font-weight  : 500;
    }
    i{
        vertical-align: top;
        margin-right: 5px;
    }
}