/* Variables */
$primary-blue      : #336FBD;
$primary-light-blue: #3d87e7;
$cyan-text         : #60CFFF;
$dark-cyan-text         : #3d93b8;
$disabled-text     : #828181;

body {
    font-family: 'Roboto';
}

hr {
    margin-top      : 15px;
    margin-bottom   : 15px;
    background-color: #898989;
}

/* Loader */

@media (min-width: 576px) {
    .modal-sm {
        max-width: 245px;
    }
}

/* Modal loader */

#loaderModal {
    .modal-content {
        border-radius: 30px;
        border       : 0;
    }
}

.loader_modal_container {
    display    : block;
    font-family: Roboto;
}

.loader_modal_figure {
    display  : block;
    width    : 50%;
    transform: translate(50%, 0%);
}

.loader_modal_title {
    text-align : center;
    padding    : 1em;
    padding-top: 0;
    font-size  : 14px;
    font-weight: 500;
    color      : #24407db3;
}

/*Home*/

.content-site {
    margin-top : 1.5em;
    font-family: Roboto;
}

.ct-fluid-custom {
    padding: 0 2em;
}

/* Secciones */

.h1-header {
    font-family   : Roboto;
    font-style    : normal;
    font-weight   : normal !important;
    font-size     : 17px !important;
    line-height   : 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color         : $primary-blue;

    i {
        vertical-align: sub;
    }
}

.h1-title {
    margin-bottom: 0.5em;
    font-style   : normal;
    font-weight  : bold;
    font-size    : 30px;
    line-height  : 30px;
    color        : $primary-blue;
}

.header-link {
    font-family    : Roboto;
    font-style     : normal;
    font-weight    : normal !important;
    transition     : 0.2s;
    font-size      : 17px !important;
    line-height    : 16px;
    letter-spacing : 2px;
    text-decoration: none;
    text-transform : uppercase;
    color          : $disabled-text;

    i {
        vertical-align: bottom;
    }
}

.h2-subtitle {
    font-size: 22px;
    color    : $primary-blue;
}

/* Tabs */

.nav-custom-tabs {
    .nav-link {
        color: $disabled-text;
    }

    .active {
        color      : $primary-blue !important;
        font-weight: 500
    }

    margin-bottom: 1em
}

// Botones

.sm-btn-outline{
    background-color: #FFF;
    color: $primary-blue;
    padding: 0.4em 1em;
    transition: 0.2s;
    border: 1px solid $primary-blue;
    font-weight: 500;
    font-size: 16px;
    border-radius: 12px;
    i{
        vertical-align: sub;
        font-size: 16px;
    }
}
.sm-btn-outline:hover{
    background-color: $primary-light-blue;
    color: #FFF;
}

/* Importar otros scss */
@import 'menu';
@import 'shop';
@import 'forms';
@import 'coupons';