/* Navbar */
.eschool-logo {
    width: 130px;
    top  : 12px;
    left : 22px;
}

.navbar-eschool {
    background-color: #FFF;
    padding-left    : 2em;
    padding-right   : 2em;
    box-shadow      : 0px 4px 16px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 992px) {
    .eschool-logo {
        position   : absolute;
        left       : 50%;
        margin-left: -50px !important;
        display    : block;
        top        : 15px;
    }
}

/* Menu */

#canvasMenuLeft {
    width: 220px;

    .offcanvas-body {
        padding: 0;
    }

    .offcanvas-header {
        padding: 1em;
    }
}

#menu-responsive {
    width  : 220px;
    padding: 1em;
}

.wd-menu-l {
    width: 190px;
}

.mn-responsive {
    li {
        list-style: none;

        a {
            color          : $primary-blue;
            font-family    : "Roboto";
            font-style     : normal;
            font-weight    : 500;
            font-size      : 17px;
            padding        : 0.4em 0.2em;
            transition     : 0.2s;
            display        : block;
            width          : 100%;
            text-decoration: none;
        }

        a:hover {
            color: $primary-light-blue;
        }

        span {
            vertical-align: unset;
            margin-left   : 0.5em;
        }

        i {
            font-size     : 26px;
            vertical-align: bottom;
        }

        ul {
            padding-left: 1rem;
        }
    }

    .dropdown-n {
        float: right;
        color: $cyan-text;
    }

    .mr-img {
        width     : 100%;
        text-align: center;
        margin    : 1em 0;

        img {
            max-width: 8em;
        }
    }
}

/* Menu de usuario en header */

.btn-header-user {
    background-color: #FFF;
    border          : 0;
    font-weight     : 500;
    color           : $primary-blue;

    i {
        font-size: 18px;
        top      : 4px;
        position : relative;
    }
}

.btn-header-initials {
    display      : inline-block;
    color        : #FFF;
    padding      : 5px 0.5em;
    border-radius: 30px;
    margin-right : 5px;
    background   : $primary-blue;
}

/* Whatsapp */

#wa-msg-us-btn {
    font-weight     : 500;
    color           : #FFF !important;
    display         : inline-block;
    background-color: $primary-blue !important;
}

.wa-message-us-list {
    display: none;
}

@media screen and (max-width: 980px) {
    .wa-message-us {
        display: none !important;
    }

    .wa-message-us-list {
        display: block;
    }

    .mn-responsive-legal {
        bottom: 25px;
    }

    .navbar-eschool {
        padding-left: 1em;
        padding-right: 1em;
    }
}

.navbar-display-menu {
    display: none;
}

@media screen and (max-width: 992px) {
    .navbar-display-menu {
        display         : block;
        border          : 0;
        background-color: #FFF;

        i {
            color         : $primary-blue;
            font-size     : 26px;
            position      : relative;
            top           : 2px;
            vertical-align: bottom;
        }
    }
}

@media screen and (max-width: 600px) {
    .btn-header-name{
        display: none;
    }
}

.mn-responsive-legal {
    position: fixed;
    bottom  : 1.5em;
    overflow: hidden;

    a {
        text-decoration: none;
    }
}

.wd-menu-f {
    height: calc(100vh - 50px);
}

.wd-menu-l {
    height: 90vh;
}