.container-select-students {
    background   : #FFFFFF;
    box-shadow   : 0px 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding      : 0.8em;
    margin-bottom: 1em;
}

.csitem-active {
    border-color: $cyan-text !important;
}

.container-select-item {
    border       : 1px solid rgb(224, 224, 224);
    box-sizing   : border-box;
    cursor       : pointer;
    background   : #FFFFFF;
    display      : inline-flex;
    padding      : 8px;
    border-radius: 32px;
    user-select  : none;

    h3 {
        font-family: 'Roboto';
        font-style : normal;
        font-weight: 400;
        display    : block;
        font-size  : 13px;
        line-height: 18px;
        margin     : 0;
        color      : $primary-blue;
    }

    .container-select-initials {
        background-color: $cyan-text;
        color           : #FFFFFF;
        border-radius   : 32px;
        padding         : 0.5em 0.7em;
    }

    .container-select-info {
        margin-left : 0.5em;
        margin-right: 1em;
        margin-top  : 3px;
    }
}

/* Tienda de libros y articulos */

.card_container_item {
    background   : #FFFFFF;
    box-shadow   : 0px 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding      : 16px;
    border       : 1px solid #e9e9e9;

    img {
        width        : 100%;
        border-radius: 30px 30px 0 0;
    }
}

.card_item_title {
    font-weight   : bold;
    display       : block;
    font-size     : 19px;
    line-height   : 22px;
    letter-spacing: -0.408px;
    margin        : 0.5em 0;
    color         : #000000;
}

.card_item_bottom {
    button {
        background   : #5AC8FA;
        padding      : 7px 9px;
        color        : #FFF;
        border       : 1px solid #e3e3e3;
        transition   : 0.2s;
        border-radius: 30px;
        border       : 0;

        i {
            vertical-align: middle;
            font-size     : 22px;
        }
    }

    span {
        display       : inline-block;
        color         : #5AC8FA;
        font-size     : 27px;
        font-weight   : 500;
        font-family   : 'Roboto';
        line-height   : 41px;
        letter-spacing: 0.374px;
    }

    .col-btn {
        width     : 95px;
        text-align: right;
    }
}

.card_item_bottom button:hover {
    background: #5ac7fa9a;
}

.btn-nav-shopping {
    color           : $primary-blue;
    background-color: #FFF;
    border          : 0;
    padding         : 0 0.5em;

    i {
        vertical-align: middle;
    }
}

/* Carrito en navbar */

.labe-bubble-menu {
    background   : #FF3B30;
    border-radius: 30px;
    color        : #FFF;
    font-weight  : 500;
    position     : absolute;
    top          : -5px;
    left         : 22px;
    padding      : 0 4px;
    font-size    : 10px;
    line-height  : 15px;

}

.link-destroy {
    font-weight: 500;
    text-align : right;
    transition : 0.2s;
    font-size  : 12px;
    color      : #e34c41;

    span {
        cursor: pointer;
    }

    i {
        font-size     : 14px;
        vertical-align: text-top;
    }
}

.link-destroy:hover {
    color: #f86a60;
}

.nav-shopping-list {
    min-width: 270px;
    padding  : 0.5em;
}

.drop-shipping-items {
    padding   : 0;
    overflow-y: scroll;
    max-height: 236px;

    li {
        padding   : 0.5em 0;
        list-style: none;
    }

}

.drop-shipping-items::-webkit-scrollbar {
    display: none;
}

.ddshop-footer {
    a {
        display        : block;
        color          : #FFF;
        background     : $primary-blue;
        border-radius  : 30px;
        padding        : 8px 8px 9px 8px;
        transition     : 0.2s;
        font-family    : 'Roboto';
        font-size      : 14px;
        width          : 100%;
        text-decoration: none;
        text-align     : center;
    }
}

.ddshop-footer a:hover {
    color  : #FFF;
    opacity: 0.7;
}

.ddshop-total {
    margin: 1em 0.5em;
}

.ddshop-row-info-stitle {
    font-size  : 14px;
    color      : #000000;
    font-weight: bold;
}

.ddshop-row-info-total {
    font-size  : 14px;
    color      : #336FBD;
    float      : right;
    font-weight: bold;
}

.ddshop-row-info-title {
    font-size  : 14px;
    color      : #000000;
    font-weight: 500;
    display    : block;
}

.ddshop-row-info-i {
    font-size: 16px;
    cursor   : default;
}

.ddshop-row-info-price {
    font-size  : 12px;
    display    : block;
    color      : #000000;
    font-weight: 500;
}

.ddshop-btn-delete i {
    color     : #828181;
    font-size : 20px;
    margin-top: 5px;
}

.ddshop-row-info {
    max-width: calc(100% - 36px);
    display  : inline-block;
    position : relative;
}

.ddshop-row-li {
    border-bottom: 1px dotted #cbcbcb;
}

.ddshop-btn-delete {
    text-align   : center;
    background   : #F2F2F7;
    border-radius: 30px;
    width        : 32px;
    cursor       : pointer;
    height       : 32px;
    float        : right;
    border       : 0;
}

.detail-shop-row-li {
    list-style: none;
    padding   : 0.5em 0;
}

.detail-shop-row-info {
    width   : calc(100% - 65px);
    display : inline-block;
    position: relative;
}

.detail-shop-row-info-title {
    display    : block;
    font-weight: 500;
    color      : #000;
}

.detail-shop-row-info-price {
    display: block;
}

.detail-shop-row-price {
    width     : 60px;
    text-align: right;
    position  : relative;
    display   : inline-block;
}

.detail-shop-row-li-footer {
    background   : #336fbd;
    text-align   : right;
    list-style   : none;
    margin-top   : 1em;
    padding      : 1em;
    font-weight  : bold;
    color        : #FFF;
    border-radius: 0px 0px 18px 18px;
}

.btn-md-primary {
    color          : #FFF !important;
    background     : #336FBD;
    border-radius  : 30px;
    border         : 2px solid #336FBD;
    padding        : 1em;
    font-weight    : 500;
    transition     : 0.2s;
    display        : block;
    text-align     : center;
    text-decoration: none !important;
    width          : 100%;
}

.btn-md-primary:hover {
    opacity: 0.8;
}

.btn-md-secundary {
    color          : #5AC8FA !important;
    background     : #FFF;
    border-radius  : 30px;
    border         : 2px solid #5AC8FA;
    text-decoration: none;
    padding        : 1em;
    font-weight    : 500;
    transition     : 0.2s;
    display        : block;
    text-align     : center;
    width          : 100%;

    i {
        margin-right  : 0.5em;
        vertical-align: bottom;
    }
}

.btn-md-secundary:hover {
    opacity: 0.8;
}

.footer-cp-total {
    padding      : 1em 1.5em;
    display      : block;
    font-size    : 17px;
    border-radius: 30px;
    border       : 1px solid #cbe2ff;
    font-weight  : 500;
    background   : #edf9ff;
    text-align   : right;
    color        : #336fbd;
}

.report_section_thead th {
    border-bottom-color: #cbe2ff !important;
}

/* Botones formulario */

.btn_lateral_input {
    background    : #F2F2F7;
    border        : 1px solid #F2F2F7;
    line-height   : initial;
    font-weight   : 500;
    vertical-align: middle;
    padding       : 5px 10px;
    color         : #939393;
}

.btn_lateral_input i {
    font-size: 14px;
}

.input_amount {
    background : #f5f5f5;
    text-align : center;
    font-weight: 500;
    font-size  : 15px;
    padding    : 5px;
    color      : #6a6a6a;
    border     : 0;
    width      : 70px;
}

.table_td_price {
    color      : #336FBD !important;
    font-weight: bold;
}

.table_p_data {
    font-size  : 14px;
    font-weight: normal;
}

.btn-status-danger {
    color           : #ff6961 !important;
    background-color: #FFF !important;
    border          : 1px solid rgb(238, 238, 238);
}

.go-checkout:disabled {
    opacity: 0.5;
}

.list-group-numbered>li::before {
    font-size: 16px;
    color      : $primary-blue;
    font-weight: 500;
}

.li-order-item {
    margin: 0.5em 0;
    .li-order-title {
        color      : $primary-blue;
        font-weight: 500;
        margin-bottom: 0.5em;
        font-size  : 18px;
    }
    .li-order-description, .li-order-total{
        display: block;
        margin-bottom: 0.5em;
        color: #4d4d4d;
        i{
            vertical-align: text-top;
            font-size: 19px;
        }
    }
}